
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/tableCss.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clients</title>
</head>
<body>
  <p><a href="./index.html">Return to Home Page</a></p>

    <div>
      <h1>Clients</h1>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Tax Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Alice Dupuis</td>
            <td>F</td>
            <td>alice.dupuis@example.com</td>
            <td>0601010101</td>
            <td>FR1234567890</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Marc Lemoine</td>
            <td>M</td>
            <td>marc.lemoine@example.com</td>
            <td>0602020202</td>
            <td>FR0987654321</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Julie Martin</td>
            <td>F</td>
            <td>julie.martin@example.com</td>
            <td>0603030303</td>
            <td>FR1122334455</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Thomas Brun</td>
            <td>M</td>
            <td>thomas.brun@example.com</td>
            <td>0604040404</td>
            <td>FR2233445566</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Emma Lefevre</td>
            <td>F</td>
            <td>emma.lefevre@example.com</td>
            <td>0605050505</td>
            <td>FR3344556677</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>  